div#calendar{
    margin:2px auto;
    padding:2px;
    width:598px;
    font-family: Calibri;
}

div#calendar div.box{
    position: relative;
    top: 2px;
    left: 2px;
    width:98%;
    height:42px;
    background-color: beige;
}

div#calendar div.header{
    line-height: 36px;
    vert-align: middle;
    position: center;
    left:12px;
    top:2px;
    width:584px;
    height:44px;
    text-align: center;
}

div#calendar div.header a.before{
    position: center;
    top:2px;
    height:20px;
    display: block;
    cursor: pointer;
    color: black;
}

div#calendar div.header a.following{
    position: center;
    top:2px;
    height:20px;
    display: block;
    cursor: pointer;
    color: black;
}

div#calendar div.header a.before{
    left:2px;
}

div#calendar div.header a.following{
    right:2px;
}

div#calendar div.header span.title{
    color: black;
    font-size: 22px;
}

div#calendar div.box-content{
    border: 2px solid royalblue;
    border-top: solid;
}

div#calendar ul.label{
    float: left;
    margin:1px;
    padding:1px;
    margin-top:3px;
    marging-left:3px;
}

div#calendar ul.label li{
    margin:1px;
    padding:1px;
    margin-right:3px;
    float:left;
    list-style-type:none;
    width:84px;
    height:44px;
    line-height:42px;
    verticle-align:middle;
    text-align:center;
    color: brown;
    font-size: 18px;
    background-color: transparent;
}

div#calendar ul.dates{
    float:left;
    margin:1px;
    padding:1px;
    margin-left: 3px;
    margin-bottom: 3px;
}

div#calendar ul.dates li{
    margin:1px;
    padding:1px;
    margin-right:3px;
    margin-top:3px;
    line-height: 84px;
    vertical-align: middle;
    float:left;
    list-style-type: none;
    width:84px;
    height:84px;
    font-size: 22px;
    background-color: mintcream;
    color: black;
    text-align: center;
}

:focus{
    outline:none;
}

div.clear{
    clear:both;
}