{% extends 'base.html.twig' %}

{% block title %}New BronzeTrophy{% endblock %}

{% block body %}
    <h1>Add your bronze trophy to the cabinet!⭐</h1>

    {{ include('bronze_trophy/_form.html.twig') }}

    <a href="{{ path('bronze_trophy_index') }}">back to list</a>
{% endblock %}
