{% extends 'base.html.twig' %}

{% block title %}Home Page{% endblock %}

{% block body %}
    <style>
        h2 {
            text-align: center;
        }
        body {
            background-color: lightsalmon;
        }
        .timer {
            background-color: lightseagreen;

        }
        #Button {
            display: none;
        }
    </style>
    <div role="main" div style="text-align: center; background-color: lightgreen; font-size: 20px; padding: 10px; border: 1px solid black; margin: 10px;" class="ui-content">
        <img src="/images/timer.png" id="timer" alt="timer"></a>
        <h2 div style="font-family: Arial, Helvetica, sans-serif; font-size: 34px; font-variant: small-caps; text-transform: capitalize;">Study Timer
            <button id="EasyStudy" class="btn btn-primary btn-lg btn-block">Begin easy study</button>
            <p id="timerDisplayEasy"></p>
    </div>

    <script>
        $("#EasyStudy").click(function(e) {
            console.log("clicked");
            var timerDuration = 30;
            var startTime = new Date();
            var endTime = new Date();
            endTime.setMinutes(startTime.getMinutes() + timerDuration);
            //sets the minutes of variable v to 60 minutes
            //check alerts
            var x = setInterval(function()
            {
                var now = new Date();
                var timeRemaining = endTime - now;
                var hours = Math.floor(( timeRemaining % (1000 * 60 * 60 * 24))/(1000 * 60 * 60));
                var minutes = Math.floor((timeRemaining % (1000 * 60 * 60)) / (1000 * 60));
                var seconds = Math.floor((timeRemaining % (1000 * 60)) / 1000);
                document.getElementById("timerDisplayEasy").innerHTML = hours + "h " + minutes + "m " + seconds + "s ";
                if (timeRemaining < 0) {
                    clearInterval(x);
                    document.getElementById("timerDisplayEasy").innerHTML = "CONGRATULATIONS! FINISHED SHORT STUDY";
                    var x = document.getElementById("myDIV");
                    x.style.display = "block";
                }
            }, 1000);
        });
    </script>
{% endblock %}
