{% extends 'base.html.twig' %}

{% block title %}Study{% endblock %}

{% block body %}
    <style>
        h2 {
            text-align: center;
        }
        body {
            background-color: lightsalmon;
        }
        .timer {
            background-color: lightseagreen;

        }
        #Button {
            display: none;
        }
    </style>
    <div role="main" div style="text-align: center; background-color: lightgreen; font-size: 20px; padding: 10px; border: 1px solid black; margin: 10px;" class="ui-content">
        <img src="/images/timer.png" id="timer" alt="timer"></a>
        <h2 div style="font-family: Arial, Helvetica, sans-serif; font-size: 34px; font-variant: small-caps; text-transform: capitalize;">Study Timer
            <button id="ShortStudy" class="btn btn-primary btn-lg btn-block">Short study</button>
            <p id="timerDisplay"></p>
            <br>
            <button id="MediumStudy" class="btn btn-primary btn-lg btn-block">Medium study</button>
            <p id="timerDisplayMedium"></p>
            <br>
            <button id="HardStudy" class="btn btn-primary btn-lg btn-block">Hard study</button>
            <p id="timerDisplayHard"></p>
    </div>

   <script>
       $("#ShortStudy").click(function(e) {
           console.log("clicked");
           window.location="/shortStudy";
       });

       $("#MediumStudy").click(function(e) {
           console.log("clicked");
           window.location="/mediumStudy";
       });

        $("#HardStudy").click(function(e) {
            console.log("clicked");
            window.location="/hardStudy";
        });
   </script>
{% endblock %}
