<form method="post" action="{{ path('silver_trophy_delete', {'id': silver_trophy.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ silver_trophy.id) }}">
    <button class="btn">Delete</button>
</form>
